/* this css styles the text in this web site*/



@import url('https://fonts.googleapis.com/css?family=Righteous');

@font-face {
    font-family: 'acmeregular';
    src: url('../Fonts/Acme-Regular-webfont.eot');
    src: url('../Fonts/Acme-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Acme-Regular-webfont.woff2') format('woff2'),
         url('../Fonts/Acme-Regular-webfont.woff') format('woff'),
         url('../Fonts/Acme-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/Acme-Regular-webfont.svg#acmeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
background-image: url("sky.jpg");
}

h1{
	color: white;
	font-family: 'Righteous', cursive;
	text-align:center;
	text-decoration:overline underline;
	text-transform:uppercase;
}

h3{
	color:white;
	font-family: 'acmeregular';
	border-top:2px solid black;
	border-bottom:2px solid black;
	
	padding: 2px 0px;
}

//ul li a:link{
	color:white;
}

ul li a:visited{
	color:white;
}

nav {
	line-height:200%
}

nav a:link{
	color:white;
	font-weight:bold;
	text-decoration:none;
}


nav li{
	display:inline;
	list-style-type:none;
	padding-right:48px;
	font-size: 50px;
}

nav a:hover{
	color:#FFCC00;
	/*background-color:#003366;*/
	padding:7px 8px;
	text-shadow: 2px 2px gray;
	font-size: 60px;
}