/* Scss Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: lightgray;
  text-align: center; }

header img {
  margin: 30px; }

nav {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px; }

main {
  background-color: white; }

footer {
  background-color: black;
  color: white; }

h1 {
  font-weight: bold; }

h1.margin {
  margin-top: 100px; }

h2 {
  text-align: center; }

.float {
  float: left; }

.floatright {
  float: right; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.gallary {
  width: 45%;
  margin: 10px;
  float: left; }

.text {
  width: 45%;
  margin: 10px;
  float: left; }

.text2 {
  -webkit-column-count: 2;
  /*Chrome,Safari,Opera*/
  -moz-column-count: 2;
  /*Firefox*/
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  float: left;
  width: 30%;
  margin-left: 40px;
  line-height: 2em;
  text-align: center; }

#formcontainer {
  background-color: lightgray;
  width: 45%;
  margin: 10px;
  padding: 20px;
  border: 2px solid black; }

fieldset1 {
  width: 90%;
  margin: 5px; }

fieldset1 div {
  width: 90%;
  margin: 5px 0px;
  align-items: center; }

input, textarea, select {
  width: 90%;
  font-size: 1.1em;
  padding: 2px 5px 4px;
  border: 2px solid gray;
  margin-top: 5px;
  order: 2; }

label {
  order: 1;
  width: 90%;
  text-align: left;
  padding-right: 0.5em; }

fieldset2 {
  width: 90%;
  margin: 5px; }

fieldset2 div {
  display: flex;
  align-items: center; }

input[type=submit], input[type=reset] {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 6px;
  width: 100px;
  margin: 25px; }

legend {
  /*width:100%;*/
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 2em;
  font-weight: bold; }
